<h1>Products <small><%= page_entries_info @products %></small></h1>

<%= form_tag products_path, method: :get, authentication: false, id: 'search_form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>

<div class="products">
	<table class="table">
		<thead>
			<%= render 'header' %>
		</thead>
		<tbody id="products">
			<%= render @products %>
		</tbody>
	</table>
</div>

<div id="paginator">
	<%= paginate @products, :remote => true %>
</div>

<p>
	<%= link_to "New Product", new_product_path %>
</p>
